# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
permissions: read-all
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 19.x, 20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: 'actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac'
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@bea5baf987ba7aa777a8a0b4ace377a21c45c381
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: yarn install --frozen-lockfile
    - run: yarn test
    - name: Run ESLint
      run: yarn eslint .
    - name: Coveralls
      uses: coverallsapp/github-action@3b7078ee895f74fc267b7b267c88211df59fa816
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
