name: "tagged-release"

on:
  push:
    branches: [ "test_auto_release" ]
    tags:
      - "v*"
permissions: read-all
jobs:
  tagged-release:
    name: "Tagged Release"
    runs-on: "ubuntu-latest"

    steps:
    - uses: 'actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac'
    - name: Use Node.js
      uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d
    - run: yarn install

    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@35b0e87d162680511bf346c299f71c9c5c379033'
      with:
        credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@e30db14379863a8c79331b04a9969f4c1e225e0b'

    # Now you can run gcloud commands authenticated as the impersonated service account.
    - id: 'gcloud'
      name: 'Deploy to google cloud function'
      env:
        GCP_PROJECT: '${{ secrets.GCP_PROJECT }}'
        GOOGLE_CLOUD_PROJECT: '${{ secrets.GCP_PROJECT }}'
        GCP_REGION: '${{ secrets.GCP_REGION }}'
      run: |
        gcloud config set project $GCP_PROJECT
        gcloud functions deploy app --trigger-http --security-level=secure-always --allow-unauthenticated --runtime nodejs20 --region $GCP_REGION 
